<p id="notice"><%= notice %></p>

<p>
  <strong>Origen:</strong>
  <%= @transferencium.origen %>
</p>

<p>
  <strong>String:</strong>
  <%= @transferencium.string %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @transferencium.destino %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @transferencium.monto %>
</p>

<p>
  <strong>Idtransferencia:</strong>
  <%= @transferencium.idtransferencia %>
</p>

<p>
  <strong>String:</strong>
  <%= @transferencium.string %>
</p>

<p>
  <strong>Originator type:</strong>
  <%= @transferencium.originator_type %>
</p>

<p>
  <strong>String:</strong>
  <%= @transferencium.string %>
</p>

<p>
  <strong>Originator:</strong>
  <%= @transferencium.originator_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @transferencium.integer %>
</p>

<%= link_to 'Edit', edit_transferencium_path(@transferencium) %> |
<%= link_to 'Back', transferencia_path %>
