<p id="notice"><%= notice %></p>

<p>
  <strong>Oc request:</strong>
  <%= @ocs_generada.oc_request %>
</p>

<p>
  <strong>Oc:</strong>
  <%= @ocs_generada.oc_id %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @ocs_generada.grupo %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @ocs_generada.cliente %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @ocs_generada.proveedor %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @ocs_generada.sku %>
</p>

<p>
  <strong>Fechaentrega:</strong>
  <%= @ocs_generada.fechaEntrega %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ocs_generada.cantidad %>
</p>

<p>
  <strong>Preciounitario:</strong>
  <%= @ocs_generada.precioUnitario %>
</p>

<p>
  <strong>Canal:</strong>
  <%= @ocs_generada.canal %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @ocs_generada.notas %>
</p>

<p>
  <strong>Urlnotificacion:</strong>
  <%= @ocs_generada.urlNotificacion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ocs_generada.estado %>
</p>

<p>
  <strong>Createdat:</strong>
  <%= @ocs_generada.created_at %>
</p>

<%= link_to 'Edit', edit_ocs_generada_path(@ocs_generada) %> |
<%= link_to 'Back', ocs_generadas_path %>
